<div class="bg-gray-100 max-w-2xl mx-auto">
  <form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
    <div class="mb-6">
      <label
        for="user-id"
        for="title"
        [ngClass]="
          todoForm.controls.userId.invalid &&
          (todoForm.controls.userId.dirty || todoForm.controls.userId.touched)
            ? 'block mb-2 text-sm font-medium text-red-700 dark:text-red-500'
            : 'block mb-2 text-sm font-medium text-green-700 dark:text-green-500'
        "
      >
        User ID
      </label>

      <input
        formControlName="userId"
        type="text"
        id="user-id"
        [ngClass]="
          todoForm.controls.userId.invalid &&
          (todoForm.controls.userId.dirty || todoForm.controls.userId.touched)
            ? 'bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-red-100 dark:border-red-400'
            : 'bg-green-50 border border-green-500 text-green-900 placeholder-green-700 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-green-100 dark:border-green-400'
        "
      />

      <p
        class="mt-2 text-sm text-red-600 dark:text-red-500"
        *ngIf="
          todoForm.controls.userId.invalid &&
          (todoForm.controls.userId.dirty || todoForm.controls.userId.touched)
        "
      >
        <span class="font-medium">Oops!</span>
        User ID is required!
      </p>
    </div>

    <div>
      <label
        for="title"
        [ngClass]="
          todoForm.controls.title.invalid &&
          (todoForm.controls.title.dirty || todoForm.controls.title.touched)
            ? 'block mb-2 text-sm font-medium text-red-700 dark:text-red-500'
            : 'block mb-2 text-sm font-medium text-green-700 dark:text-green-500'
        "
      >
        Title
      </label>

      <input
        formControlName="title"
        type="text"
        id="title"
        [ngClass]="
          todoForm.controls.title.invalid &&
          (todoForm.controls.title.dirty || todoForm.controls.title.touched)
            ? 'bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-red-100 dark:border-red-400'
            : 'bg-green-50 border border-green-500 text-green-900 placeholder-green-700 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-green-100 dark:border-green-400'
        "
      />

      <p
        class="mt-2 text-sm text-red-600 dark:text-red-500"
        *ngIf="
          todoForm.controls.title.invalid &&
          (todoForm.controls.title.touched || todoForm.controls.title.dirty)
        "
      >
        <span class="font-medium">Oops!</span>
        Title is required!
      </p>
    </div>

    <div>
      <button
        class="bg-purple-600 font-semibold text-white p-2 w-32 rounded-full hover:bg-purple-700 focus:outline-none focus:ring shadow-lg hover:shadow-none transition-all duration-300 m-2"
        type="submit"
        [disabled]="!this.todoForm.valid"
      >
        Submit
      </button>

      <button
        class="bg-purple-600 font-semibold text-white p-2 w-32 rounded-full hover:bg-purple-700 focus:outline-none focus:ring shadow-lg hover:shadow-none transition-all duration-300 m-2"
        (click)="cleanForm()"
      >
        Clear
      </button>
    </div>
  </form>
</div>
