<div class="bg-gray-100">
  <div class="-black h-screen p-5">
    <div class="grid h-52 grid-cols-2 bg-gray-100">
      <div class="border p-5">
        <ngxs-todo-form></ngxs-todo-form>
      </div>

      <div class="border p-5">
        <ngxs-todo-list></ngxs-todo-list>
      </div>
    </div>
  </div>
</div>
